@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Scoped: @ViewBag.Scope</p>
    <p>Singleton: @ViewBag.Singleton</p>
    <p>Transient:@ViewBag.Transient</p>
    <hr />
    <p>Scoped: @ViewBag.ServiceScope</p>
    <p>Singleton: @ViewBag.ServiceSingleton</p>
    <p>Transient:@ViewBag.ServiceTransient</p>
</div>
