

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>Home.Index View html</p>
    <p>Merhaba @ViewBag.Name </p>
    <a asp-action="rsvp" asp-controller="Home">tıklayın</a>
</body>
</html>
