
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rsvp</title>
</head>
<body>
    <form method="post">
        <p>
            <input type="email" name="Email" value="" placeholder="E-posta" />    

        </p>
        <p>
            <select name="IsAccept">
                <option value="true">Geliyorum</option>
                <option value="false">Gelmiyorum</option>
            </select>
        </p>
        <button type="submit">Gönder</button>
    </form>
</body>
</html>
