@model RsvpModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Rsvp</title>
</head>
<body>
    <form method="post">
        <p>
            <input asp-for="Email" placeholder="E-posta" />    
            <span asp-validation-for="Email"></span>
        </p>
        <p>
            <select asp-for="IsAccept">
                <option value="">Seçiniz...</option>
                <option value="true">Geliyorum</option>
                <option value="false">Gelmiyorum</option>
            </select>
            <span asp-validation-for="IsAccept"></span>
        </p>
        <button type="submit">Gönder</button>
    </form>
</body>
</html>
