@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewBag.Page</h3>
<div class="row">


    @foreach (var product in Model)
    {
        <div class="col-3">
            <partial name="_ProductCart" model="@product"/>
        </div>
    }

</div>

@for (int i = 1; i <= ViewBag.TotalPages; i++)
{
    <a asp-action="Index" asp-route-page="@i" >@i</a>
} 

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.sepet').on('click', function () {
                let id = $(this).data('id');
                $.ajax({
                    url: 'Cart/AddToCart/' + id,
                    dataType: 'json',
                    success: function (data) {
                        alert(data);
                    },
                    error: function (err) {

                    }
                })
            });
        });
    </script>
}